body {
    background-color: #06AED4;
    margin: 0;
    position: relative;
}

header {
    background-color: white;
    width: 100%;
    padding: 3px;
    align-items: center;
}

#name {
    font-family: 'Source Serif Pro', serif;
    display: inline-block;
}

#lzlogo {
    align-self: center;
    float: left;
    height: 2em;
    margin-top: 22px;
}

.smicon {
    height: 2em;
    display: inline;
    float: right;
    margin-top: 22px;
    margin-left: 6px;
}


nav {
    width: 100%;
    background-color: white;
    height: 43px;
    padding: 3px;
    border-top: 1px solid #06AED4;
}

nav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    float: left;
    border-right: 2px solid black;
    width: 20%;
    align-items: center;
    
 }

li a {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    display: block;
    background-color: white;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #06AED4;
    color: white;
}

.title {
    margin-left: 14px;
    color: white;
    font-family: 'Source Serif Pro', serif;
}

.gen {
    background-color: white;
    padding: 0.5px 0px 50px 0px;
    margin: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {

    .smicon {
        display: none;
    }

    .menu-item {
        width: 10%;
    }

    li a {
        padding: 12px 4px;
    }

    nav input[type=text] {
        display: none;
    }

    .tagsec {
        flex-wrap: wrap;
    }
 
}

@media screen and (min-width: 900px) {
    
    .title {
        display: flex;
        justify-content: center;
    }
    
    .gen {
        width: 800px;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
    }

    footer {
        margin-top: 100px;
    }
}

.bloghead {
    padding: 30px;
    border-radius: 5px;
}

.headcolor {
    background-color: rgba(6, 174, 212, 0.5) ;
    padding: 2px;
    margin: 1px 0px;
}

h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

h6{
    font-style: italic;
    font-family: 'Fira Sans', sans-serif;
    margin: 0px 25px;
}

p {
    margin: 16px 25px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
}

#blog_head1 {
    background-image: url(bench-accounting-nvzvOPQW0gc-unsplash.jpg);
    background-position: 50% 70%;
    background-size: cover;
}

#blog_head2 {
    background-image: url(timothy-dykes-LhqLdDPcSV8-unsplash.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#blog_head3 {
    background-image: url(pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#blog_head4 {
    background-image: url(branko-stancevic-GI1hwOGqGtE-unsplash.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#blog_head5 {
    background-image: url(kari-shea-1SAnrIxw5OY-unsplash.jpg);
    background-position: 50% 60%;
    background-size: cover;
}

.tagsec {
    display: flex;
}

.tagtitle {
    font-weight: bold;
}

.tag {
    background-color: #9DE0EF;
    padding: 4px;
    border-radius: 5px;
}

footer {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 3px;
    bottom: 0;
    left: 0;
    position: relative;
    clear:both;
    width: 100%;
}

#footerc {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding-top: 5px;

}

#pixperf{
    font-family: 'Fira Sans', sans-serif;;
    text-align: center;
    padding-bottom: 6px;
}